<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package allowedVersions="[2.2.6, 2.2.6]" id="AlphaFS" targetFramework="net48" version="2.2.6" />
  <package allowedVersions="[3.0.3, 3.0.3]" id="log4net" targetFramework="net48" version="3.0.3" />
  <package allowedVersions="[13.0.3, 13.0.3]" id="Newtonsoft.Json" targetFramework="net48" version="13.0.3" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Aggregation" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Aggregation.Redist" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Common" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Common.Redist" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Diagnostics" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Diagnostics.Log4Net" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Diagnostics.Redist" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Model" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Model.Redist" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Threading" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Patterns.Threading.Redist" targetFramework="net48" version="2024.1.6" />
  <package allowedVersions="[2024.1.6, 2024.1.6]" id="PostSharp.Redist" targetFramework="net48" version="2024.1.6" />
  <package id="StrongNamer" targetFramework="net48" version="0.2.5" />
  <package allowedVersions="[1.4.5, 1.4.5]" developmentDependency="true" id="Vsxmd" targetFramework="net48" version="1.4.5" />
</packages>